---
title: Order Verification
author: Tyler Longren
type: post
date: 2005-04-15T13:42:16+00:00
url: /order-verification/
views:
  - 993

---
Yay! The guys @ the warehouse are verifying all senior orders today and tomorrow. I&#8217;m so excited that the system is finally going how it needs to be. I&#8217;ve been down to Ankeny the last 3 weekends in a row I think. At least I&#8217;m getting some good overtime.

Mike Schilling, the guy that does all our software, came down to Ankeny last Friday so he could fix up a few things. Everything is working much better now. I got the queries to generate a milk order for our senior clients all setup and working yesterday. The warehouse guys are testing it out today. I hope I don&#8217;t have to go down there any this week.

Today I&#8217;m gonna be writing some PHP to improve the order import process and to allow our warehouse manager to update UPC values in the database. Some of our products aren&#8217;t consistent and their UPC&#8217;s change every so often. Being able to update the UPC value for an item is almost a necessity.

I think we&#8217;re planning to get another verification system as soon as this one is up and running 100%. We also got the ethernet connection back to the warehouse/cooler going. Now I just need to go grab a WAP and a Wireless card and they&#8217;ll be set. I&#8217;m very happy that the guys in Ankeny should be able to scan all senior orders without any problems. 

<div class="wpulike wpulike-default " >
  <div class="wp_ulike_general_class wp_ulike_is_not_liked">
    <button type="button"
					aria-label="Like Button"
					data-ulike-id="1795"
					data-ulike-nonce="0b9b422f26"
					data-ulike-type="likeThis"
					data-ulike-template="wpulike-default"
					data-ulike-display-likers="0"
					data-ulike-disable-pophover="0"
					class="wp_ulike_btn wp_ulike_put_image wp_likethis_1795"></button><span class="count-box"></span>
  </div>
</div>

[][1]{.later-button-el}

<div class='what-next'>
  <h2>
    Well, now what?
  </h2>
  
  <div class='hire'>
    <h3>
      Work with Me
    </h3>
    
    <p>
      I'm available for hire and always taking new clients, big and small. Got a project or an idea you'd like to discuss? Startup plan but no developer to make it happen? Just <a href='https://www.longren.io/contact/'>get in touch</a>, I'd love to see if I can help you out!
    </p></p>
  </div>
  
  <div class='hire'>
    <h3>
      Leave some Feedback
    </h3>
    
    <p>
      Got a question or some updated information releavant to this post? Please, <a href='#respond' title='Leave a comment'>leave a comment</a>! The comments are a great way to get help, I read them all and reply to nearly every comment. Let's talk. 😀
    </p></p>
  </div>
  
  <div class='now-what-bottom-ad'>
    <h3>
      Longren.io is proudly hosted by <a href='https://www.digitalocean.com/?refcode=cbf49d0481c8'>DigitalOcean</a>
    </h3>
    
    <p>
      <span class='do_link'><a href='https://www.digitalocean.com/?refcode=cbf49d0481c8' rel='nofollow' target='_blank'><img alt='DigitalOcean' border='0' src='https://i0.wp.com/longren.io/wp-content/uploads/2014/03/digitalocean.png?w=1100&#038;ssl=1' data-recalc-dims="1" /></a></span><br /> <!--

<h3>Need Cloud Monitoring? Try Mist.io!</h3>

<span class='do_link'><a href='http://mist.io/?ref=tyler' rel='nofollow' target='_blank'><img alt='Mist.io' border='0' src='https://i0.wp.com/longren.io/wp-content/uploads/2014/04/mistio.jpg?w=1100&#038;ssl=1' data-recalc-dims="1"></a></span>--></div> </div>

 [1]: #